# .envファイルを除外
**/.env

**/.DS_Store

# Dockerコンテナ毎に作成されるディレクトリを以下に記載
**/node_modules
**/bundle

# Serverless Frameworkで作成されるディレクトリを以下に記載
**/ruby-layer.zip
**/.serverless

# Railsのtmpディレクトリを以下に記載
**/tmp
